.hero {
  position: relative;
  height: 100vh; /* Фиксим высоту */
  width: 100vw;
  color: #fff;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  overflow: hidden;
}

.hero-video {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100vw;
  height: 100vh;
  object-fit: cover; /* Сохраняем соотношение сторон, но растягиваем */
  transform: translate(-50%, -50%);
  z-index: -1;
  mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 1) 70%, rgba(0, 0, 0, 0));
  -webkit-mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 1) 70%, rgba(0, 0, 0, 0)); /* Для Safari */
}

.hero-container {
  position: relative;
  z-index: 1;
}

.hero-title {
  font-size: 2.5rem;
  font-weight: bold;
}

.hero-description {
  font-size: 1.25rem;
  margin-bottom: 2rem;
}

.hero-button {
  background-color: #333;
  color: #fff;
  padding: 0.75rem 1.5rem;
  border-radius: 5px;
  text-decoration: none;
  transition: background-color 0.3s;
}

.hero-button:hover {
  background-color: #555;
}